<div class="centered">
  <div class="centered_content">
    <div class="dualNInstructions">
      <a id="begin" class="button" style="float:none;" href="#">Click Me</a> |
      A = position-match | L = audio-match
    </div>
    <ul id="grid">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </ul>
  </div>
</div>
