<div class="centered">
  <div class="centered_content">
    <div class="brain_pic"></div>
    <div class="right_blurb">
      <h1>Games</h1>
      <ul class="games_choices">
        <li><a href="/dual_n_back">Dual n-Back</a></li>
      </ul>
    </div>
  </div>
</div>
