<div class="centered">
  <div class="centered_content">
    <div class="brain_pic"></div>
    <div class="right_blurb">
      <h1>DeepCodes</h1>
      <div class="button"><a href="/register">Register Now</a></div>
    </div>
  </div>
</div>
