<!DOCTYPE html>
<html lang="en">
<head>
  <link href='http://fonts.googleapis.com/css?family=Permanent+Marker|Ubuntu:400,700' rel='stylesheet' type='text/css'>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>

  <nav>

    <div class="brand"><a href="/">DeepCode</a></div>

    <ul>
      <% if current_user %>
        <li><a href="/games">Games</a></li>
        <li><a href="/profile/<%= current_user.id %>">Account</a></li>
        <li><a href="/logout">Sign Out</a></li>
      <% else %>
        <li><a href="/login">Sign In</a></li>
        <li><a href="/register">Sign Up</a></li>
      <% end %>
    </ul>

  </nav>

  <%= yield %>
</body>
</html>
