<div class="centered">
  <div class="centered_content">
    <div class="brain_pic"></div>
    <div class="right_blurb">
      <form id="login" method="post" action="/user_verification">
          <label class="label" for="email">Email</label>
          <input type="email" name="email" placeholder="e.g. koko@talkingorilla.com" value="<%= @email %>"><br>
          <label class="label" for="password">Password</label>
          <input type="password" name="password" placeholder="6 or more characters">
          <br>
          <input type="submit" class="button" value="Sign In">
        </form>
    </div>
  </div>
</div>
