<div class="centered">
  <div class="centered_content">
    <div class="brain_pic"></div>
    <div class="right_blurb">
      <h1>Welcome, <%= @user.name.capitalize %></h1>
      <h3>Would you like to <a href="/games">play a game?</a></h3>
    </div>
  </div>
</div>
